body
{
    padding:18px;
    margin:18px;
}

h1 {
    color: #fff;
    text-transform:uppercase;
}

header {
    background-color:#89a2c2;
    background-image: url("../images/flywheel.jpg");
   background-size:cover;
    padding:1px;
    text-align:center;
}

nav a {
    color:black;
    width:200px;
    height:30px;
    display: inline-block;
    margin: 15px;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px;
    background-color:rgba(242, 237, 237, 0.4);
}

.active {
    background-color: #fff;
}

aside {
    width:35%;
    display:inline-block;
    background-color: #6e8913;
    float:left;
}

aside img {
    width: 75%;
    height: auto;
    display: block;
    margin:0 auto;
    border: 1px solid #000000;
    margin-top:20px;
}

section {
    display:inline-block;
    width: 64%;
    float:right;
    margin-left:1%;
}
